
/* Clean up default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media (prefers-reduced-motion) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
